#container {
        top: 60px;
        left: 40px;
        background-color: yellow;
        height: 800px;
        width: 800px;
        position: absolute;
        z-index: 1;
        border-left: 140px solid black;
        border-right: 140px solid black;
        border-top: 140px solid black;
        border-bottom: 140px solid black;
    }

    .buttonsRedCar {
        margin: 5px;
        font-size: 20px;
        background-color: green;
        color: white;
    }

    .buttonStart {
    	margin-left: 40px;
    }

    .carText {
    	color: white;
    	text-align: center;

    }

    #topRacetrack {
    	/*display: flex;*/
    	color: darkblue;
    	font-size: 35px;
    	font-weight: bolder;
    }

    .intersection1 {
    	/*background-color: green;*/
    	z-index: 5;
    	height: 140px;
    	width: 140px;
    	position: absolute;
    	color: orange;
    	left: 40px;
    	top: 60px;
    }
	
	.intersection2 {
    	/*background-color: green;*/
    	z-index: 5;
    	height: 140px;
    	width: 140px;
    	position: absolute;
    	color: orange;
    	left: 700px;
    	top: 60px;
    }

    .intersection3 {
    	/*background-color: green;*/
    	z-index: 5;
    	height: 140px;
    	width: 140px;
    	position: absolute;
    	color: orange;
    	left: 700px;
    	top: 720px;
    }

    .intersection4 {
    	/*background-color: green;*/
    	z-index: 5;
    	height: 140px;
    	width: 140px;
    	position: absolute;
    	color: orange;
    	left: 40px;
    	top: 720px;
    }

    .carImage1 {
    	transition: transform 1s;
        height: 20px;
        width: 50px;
        position: absolute;
        z-index: 51;
       
    }

   /* .carImage2 {
        transition: transform 1s;
        height: 20px;
        width: 50px;
        position: absolute;
        z-index: 51;
    }

    .carImage3 {
        transition: transform 1s;
        height: 20px;
        width: 50px;
        position: absolute;
        z-index: 51;
    }*/